.login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    /* background-color: aliceblue; */
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0px 15px 20px -6px rgba(82, 82, 82, 0.75);
}

.login-email, .login-password {
margin-bottom: 50px;
padding: 20px;
width: 50%;
border: none;
font-size: 16px;

}

.login-email:focus, .login-password:focus {
    width: 90%;
    border-bottom: 3px solid #753188c2;
    border-width: 50%;
    outline: none;
    transition: width .100s;
  transition-timing-function: ease-in-out;
    }

.login-heading {
    margin-bottom: 50px;
    color: #753188;
}

.login-button {
    margin-top: 40px;
    margin-bottom: 20px;
padding: 20px;
width: 100%;
border: none;
background-color: #753188;
color: white;
font-size: 1.3rem;
font-weight: 800;
cursor: pointer;
border-radius: 2px;
}

a {
    text-decoration: none;
    color: white;
}